dotenv
chainlit==2.6.9
semantic-kernel[all]==1.35.2
openai
azure-cosmos
azure-storage-blob
azure-functions
aiohttp
feedparser
azure-ai-projects
azure-identity
backoff
asyncpg
psycopg2-binary
azure-monitor-opentelemetry
mcp[cli]
diagrams
agent-framework