COSMOSDB_ENDPOINT="https://your-cosmosdb-instance-name.documents.azure.com:443/"
COSMOSDB_KEY="your_cosmosdb_key_here"
COSMOSDB_DATABASE="your_database_name_here"

AZURE_OPENAI_ENDPOINT="https://your-azure-openai-instance-name.cognitiveservices.azure.com/"
AI_FOUNDRY_KEY="your_ai_foundry_key_here"

GH_PAT="your_github_personal_access_token_here"

PSQL_HOST="your_postgresql_host_here"
PSQL_PORT=5432
PSQL_DATABASE="your_database_name_here"
PSQL_USER="your_postgresql_user_here"
PSQL_PASSWORD="your_postgresql_password_here"

AZURE_STORAGE_ACCOUNT="your_storage_account_name_here"
AZURE_STORAGE_ACCESS_KEY="your_storage_account_access_key_here"